<!doctype html>
<html ng-app="app" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
  </head>
  <body>
    <div id="app-wrapper" ui-view></div>
  </body>
</html>