.campaign-info {
  margin-bottom: 15px;

  span {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
  }
  b {
    display: block;
    font-size: 24px;
  }
}
.campaign-progress {
  font-size: 10px;
}
campaign {
  width: 100%;
}
.post-pic {
  position: relative;
  flex: auto;
  width: 100%;
  height: 250px;
  margin: -15px -15px 15px;
  background-position: center;
  background-size: cover;
  background-repeat: none;

  &:hover {

    .post-pic_content {
      opacity: 1;
    }
  }
}
.post-pic_content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  background-color: rgba(#000, .75);
  opacity: 0;
  transition: opacity .3s;
  word-break: break-all;
  overflow-y: scroll;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}
.all-posts,
.all-posts md-tabs-content-wrapper {
  height: 100vh;
  padding-bottom: 50px;
}
