<div layout="row">
  <md-button class="md-warn" ng-click="campaign.filterPosts('instagram')">INSTAGRAM</md-button>
  <md-button class="md-warn" ng-click="campaign.filterPosts('youtube')">YOUTUBE</md-button>
  <md-button class="md-warn" ng-click="campaign.filterPosts('facebook')">FACEBOOK</md-button>
  <md-button class="md-warn" ng-click="campaign.filterPosts('twitter')">TWITTER</md-button>
</div>

<md-tabs md-selected="campaign.selectedTab" class="all-posts">
  <md-tab ng-repeat="tab in campaign.tabs" md-on-select="campaign.onTabSelected(tab)">
    <md-tab-label>
      {{tab.title}}
    </md-tab-label>
    <md-tab-body>
      <div layout="row" layout-wrap class="posts">
          <div flex="25" ng-repeat="post in campaign.selectedPosts | filter: { social_network: campaign.network } track by $index">
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <img class="md-user-avatar" ng-src="{{ post.author_pic }}">
                </md-card-avatar>
                <md-card-header-text>
                  <span class="md-title">{{ post.author_username }}</span>
                  <span class="md-subhead"><a ng-href="{{ post.link }}">{{ post.social_network }}</a></span>
                </md-card-header-text>
              </md-card-header>
              <md-card-content layout="row" layout-wrap>
                <div ng-style="{'background-image': 'url( {{ post.pic }} )'}" class="post-pic">
                  <div class="post-pic_content">
                      {{ post.caption }}
                  </div>
                </div>
                <div flex="50" class="campaign-info">
                  <span>Likes</span>
                  <b>{{ post.likes_number }}</b>
                </div>
                <div flex="50" class="campaign-info">
                  <span>Comments</span>
                  <b>{{ post.comments_number }}</b>
                </div>
              </md-card-content>
              <md-card-actions layout="row" layout-align="start center">
                <md-button ng-if="!post.rejected" ng-click="campaign.reject($index)">Reject</md-button>
                <md-button ng-if="!post.approved" ng-click="campaign.approve($index)" class="md-primary">Approve</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
    </md-tab-body>
  </md-tab>
</md-tabs>