<div layout="row" layout-wrap class="campaigns" ui-view>
  <div flex="25" ng-repeat="campaign in campaigns.showCampaigns track by $index" ng-class="red">
    <md-card>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">{{ campaign.name }}</span>
          <span class="md-subhead">{{ campaign.type }}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content layout="row" layout-wrap>
        <div flex="50" class="campaign-info">
          <span>Approved posts</span>
          <b>{{campaign.approved_posts}}</b>
        </div>
        <div flex="50" class="campaign-info">
          <span>Influencers</span>
          <b>{{campaign.num_of_artists}}</b>
        </div>
        <div flex="50" class="campaign-info">
          <span>Likes</span>
          <b>{{campaign.approved_likes}}</b>
        </div>
        <div flex="50" class="campaign-info">
          <span>Comments</span>
          <b>{{campaign.approved_comments}}</b>
        </div>
        <div flex="100" class="campaign-progress">
          {{campaign.progress}}% ({{campaign.days_passed}}/{{campaign.days_total}} days)
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="space-between">
        <md-button ng-click="campaigns.hideCampaign($index)">HIDE</md-button>
        <md-button class="md-primary" ui-sref="dashboard.campaigns.campaign({id: $index})">SHOW DETAILS</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <md-button flex="20" class="md-primary" ng-click="campaigns.showMore()">
      <span ng-if="campaigns.showCampaigns.length < campaigns.allCampaigns.length">
        +{{campaigns.allCampaigns.length - campaigns.showCampaigns.length - 1}} more to show
      </span>
      <span ng-if="campaigns.showCampaigns.length === campaigns.allCampaigns.length">
        No more campaings
      </span>
  </md-button>
</div>