<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-sref="dashboard.campaigns" name="campaings" ui-sref="dashboard.campaigns">Dashboard</md-nav-item>
</md-nav-bar>

<ui-view>
  <h1 style="text-align:center;margin-top:50px">Welcome to Preen.me</h1>
</ui-view>